.home{
    padding: 2rem 5%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
    width: 100%;


    // Herobanner

    .hero-banner {
        position: relative;
        width: auto;
        height: auto;
        color: #000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        .img {
            width: 100%;
            height: 35.5rem;
            margin-left: -50px;
            margin-top: 40px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        .hero-banner-content {
            margin-left: 150px;
            position: absolute;
            top: 30%;
            left: 50%;
            
    
            h1 {

                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 20px;

            }
    
            p {
                font-size: 1.5rem;
                font-weight: 400;
                margin-bottom: 30px;
            }
    
            .btn {
                margin-left: 100px;
                display: inline-block;
                padding: 10px 20px;
                background: var(--gradient);
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
    
                .text {
                    font-size: 1.5rem;
                    font-weight: 500;
                    text-decoration: none;
                    color: #000;
                }
    
                &:hover {
                    background: #f87c00; 
                }
            }
        }
    }


    // Trending

    .carousel-section {
        margin-top: 50px;
        position: relative;
        margin-bottom: 70px;
        
        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        .carousel-title {
            font-size: 1.75rem;
            color: black;
            font-weight: 500;
    
        }
        .text {
            margin-top: 20px;
            font-size: 1.2rem;
            color: black;
            font-weight: normal;
        }
    }
    

    // Campaign Card

    .main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        justify-items: center;
        align-items: center;
      }

    .campaign-card {
        width: 15rem;
        height: 25rem;
        padding: 1rem;
        margin-top: -50px;
        display: flex;
        flex: none;
        @include flex(column, flex-start, center, 4px);
        position: relative;
        background-color: white;
      
        &:hover .btn {
          opacity: 1;
        }
      
        img {
          @include square(calc(15rem - 2rem));
          object-fit: cover;
          margin: 1rem;
        }

        .title{
            font-weight: 600;
            font-size: 1.1rem;
            margin-top: 5px;
        }

        .author{
            font-weight: normal;
            font-size: 0.9rem;
            margin-top: -5px;
        }


        .rating{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 7rem;
            margin-top: 10px;
            justify-content: center;
            align-items: center;

            .circleRating {
                width: 60px;
                height: 60px;
                top: 3px;
                background-color: #fff;
                flex-shrink: 0;
                margin-right: 20px;
        }

            span {
                font-weight: 500;
                font-size: 1.1rem;
                margin-top: -5px;
            }
        }

        >span {
            font-weight: 500;
            font-size: 1.1rem;
            margin-top: -5px;
        }

      
        .btn {
          opacity: 0;
          position: absolute;
          @include square(100%);
          top: 0;
          left: 0;
          background-color: #0000006b;
          @include flex;

          .donation {
            display: inline-block;
            widows: 30px;
            height: auto;
            border-radius: 10%;
            padding: 10px;
            border: none;
            font-weight: 600;
            background: var(--gradient);
            cursor: pointer;
            color: #000;
            font-size: 1.1rem;
            transition: all 0.3s;
            &:hover {
              rotate: 10deg;
            }
          }

            .share{
            display: inline-block;
            width: 90px;
            border-radius: 10%;
            padding: 10px;
            border: none;
            font-weight: 600;
            background: var(--gradient);
            cursor: pointer;
            color: #000;
            font-size: 1.1rem;
            transition: all 0.3s;

            >span{
                margin: auto;
                margin-left: 10px;
            }
            &:hover {
              rotate: 10deg;
            } 
            }
        }
    }


    // categories

    .category-component {
        margin: auto;
        height: auto;
        margin-top: 100px;
      }
      
      .category-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 120px;
        justify-content: space-between;
        margin-bottom: 100px;
      }
      
      .category-grid a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: #333;
      
        img {
          width: 100%;
          border-radius: 8px;
        }
      
        span {
          margin-top: 10px;
          font-size: 16px;
        }
      
        &:hover {
          
        }
      }


    // Working 
    
    .working{
      margin-top: -100px;
    }

    .donation-steps {
      border: 1px solid #ccc;
      padding: 30px;
      border-radius: 5px;

      >h2 {
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    
    .step {
      display: flex;
      margin-bottom: 10px;
    }
    
    .step-number {
      background-color: #007bff;
      color: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
    
    .step-description {
      margin-left: 10px;
    }
    


    // Footer

    .footer {
      background-color: var(--black3);
      color: #fff;
      padding: 20px 0;
      text-align: center;
      margin-top: 100px;
      
    
      .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .footer-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
    
      .social-icons {
        font-size: 24px;
        margin-bottom: 20px;
    
        a {
          color: #fff;
          margin: 0 10px;
          transition: color 0.3s ease;
    
          &:hover {
            color: #ccc;
          }
        }
      }
    
      .terms-and-conditions {
        font-size: 14px;
        margin-bottom: 10px;
    
        a {
          color: #fff;
          text-decoration: none;
          transition: color 0.3s ease;
    
          &:hover {
            color: #ccc;
          }
        }
      }
    
      .rights {
        font-size: 12px;
      }
    }    
}